<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
      <section name="LEVELFORMATS" type="System.Configuration.NameValueSectionHandler"/>
      <section name="SETTINGS" type="System.Configuration.NameValueSectionHandler"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <LEVELFORMATS>
      <add key="Log4" value="24,33,DEBUG,Debug,SlateGray,INFO,Info,Black,WARN,Warn,Orange,ERROR,Error,Red"/>
      <add key="Style2" value="1,100,Debug,Debug,Gray,Log,Log,Blue,Stat,Stat,Orange,Error,Error,Red"/>
  </LEVELFORMATS>

  <SETTINGS>
    <add key="sizeCmd" value="ls -l FILE | awk '{print $5}'"/>
    <add key="tailCmd" value="tail -1000f FILE"/>
  </SETTINGS>


  <userSettings>
    <Tailer.Properties.Settings>
      <setting name="lastFile" serializeAs="String">
        <value />
      </setting>
      <setting name="lastLogStyle" serializeAs="String">
        <value />
      </setting>
      <setting name="lastTextFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSSHKey" serializeAs="String">
        <value />
      </setting>
      <setting name="lastHost" serializeAs="String">
        <value />
      </setting>
      <setting name="lastUser" serializeAs="String">
        <value />
      </setting>
      <setting name="lastRemoteFile" serializeAs="String">
        <value />
      </setting>
      <setting name="lastPass" serializeAs="String">
        <value />
      </setting>
    </Tailer.Properties.Settings>
  </userSettings>
</configuration>
